pandas
numpy
tqdm
rdkit
chembl-webresource-client
matplotlib
seaborn
requests
streamlit
pillow  # For image processing
google-auth 
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
libxrender1
libsm6
libxext6
